<div class="credits flexRow">
    <div class="col-4">
        <div>
            <h4><i class="fa fa-sitemap"></i> Site map <i class="fa fa-sitemap"></i></h4>
            <p><a class="siteMapLink" href="/">Main</a></p>
            <p><a class="siteMapLink" href="blog">Blog</a></p>
            <p><a class="siteMapLink" href="contact">Contact</a></p>
            <p><a class="siteMapLink" href="funZone">Fun zone</a></p>
            <p><a class="siteMapLink" href="privacyPolicy">Privacy policy</a></p>
            <p><a class="siteMapLink" href="https://github.com/linre-90/catsopinion">Github</a></p>
        </div>
        <div class="social">
            <h4><i class="fas fa-bell"></i> Social media <i class="fas fa-bell"></i></h4>
            <!--Twitter some btn -->
            <a href="https://twitter.com/OpinionCats?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @OpinionCats</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!--Facebook some btn -->
            <div  class="socialMediaSeperator"></div>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v9.0" nonce="udnDOyTo"></script>
            <div class="fb-page" data-href="https://www.facebook.com/CatsOpinion-109778814483080" data-tabs="" data-width="220" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/CatsOpinion-109778814483080" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CatsOpinion-109778814483080">CatsOpinion</a></blockquote></div>            <!--
            <div class="socialMediaSeperator"></div>
            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="https://catsopinion.com/"></script>
            -->
        </div>
    </div>
    <div class="col-4">
        <p><i class="far fa-copyright"></i> Juho Lindemark</p>
        <div>(country flag)Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Other icons by FontAwesome: <a href="https://fontawesome.com/">https://fontawesome.com/</a></div>
        <div>
            <p>Images from unsplash: <a href="https://unsplash.com/images/stock">https://unsplash.com/images/stock</a>
            </p>
            <p>Check following persons work: </p>
            <ul>
                <li><a href="https://unsplash.com/@cedric_photography">https://unsplash.com/@cedric_photography</a></li>
                <li><a href="https://unsplash.com/@madeyes">https://unsplash.com/@madeyes</a></li>
                <li><a href="https://unsplash.com/@miklevasilyev">https://unsplash.com/@miklevasilyev</a></li>
                <li><a href="https://unsplash.com/@serejaris">https://unsplash.com/@serejaris</a></li>
                <li><a href="https://unsplash.com/@_javardh_001">https://unsplash.com/@_javardh_001</a></li>
                <li><a href="https://unsplash.com/@zane404">https://unsplash.com/@zane404</a></li>
            </ul>
        </div>
    </div>
</div>
<div class=reportNTop>
    <button id="backToTopBtn"><i class="fa fa-arrow-up"></i></button>
    <a href="contact" id="reportBugBTN"><i class="fa fa-exclamation-triangle"></i>
        <p style="font-size: 10px; padding: 0; margin: 0;">REPORT A BUG</p>
    </a>
</div>
<!--SCripts-->
<script type="text/javascript"src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=flying&thirdparty=1&always=1&privacyPage=https%3A%2F%2Fwww.catsopinion.com%2FprivacyPolicy"></script>
<% {scripts.forEach(element => { %>
    <script src=<%= element %>></script> 
<% });}%> 
</body>
</html>