
    <div class="topHeader">
        <div id="imgCarousel">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/daniel-park-BZYx2tOXfqA-unsplash.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/dorothea-oldani-Hhm_fL04bE8-unsplash.jpg" alt="" srcset="">
            <img class="carouselImage fade" src= "https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/eric-han-Hd7vwFzZpH0-unsplash.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/rafael-ishkhanyan-eoHUaRLrYxw-unsplash.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/raquel-pedrotti-AHgpNYkX9dc-unsplash.jpg" alt="" srcset="">       
        </div>
        <div class="HeaderHeadline">Cats Opinion</div>
        <div class="headerSubheadline"><%= headerText %></div>
    </div>


