
    <div class="topHeader">
        <div id="imgCarousel">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1472491235688-bdc81a63246e.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1511275539165-cc46b1ee89bf.jpg" alt="" srcset="">
            <img class="carouselImage fade" src= "https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1535696588143-945e1379f1b0.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1547045662-e5a75e7238c2.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1559624989-7b9303bd9792.jpg" alt="" srcset="">
            <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1574158622682-e40e69881006.jpg" alt="" srcset="">       
        </div>
        <div class="HeaderHeadline">Cats Opinion</div>
        <div class="headerSubheadline">The only opinion cat owners need!</div>
    </div>


