<div class="navSection">
    <div class="col-6" id="catNav">
        <i class="fa fa-cat navIcon navLogo"></i>
    </div>
    <div class="col-6" id="navLinks">
        <% if(home){ %>
            <a href="/" class="navItemPagePointer">Main <i class="fas fa-check-circle"></i></a>
        <%  } else{ %> 
            <a href="/">Main</a>
        <% }  %> 
        <% if(blog){ %>
            <a href="blog" class="navItemPagePointer">Blog <i class="fas fa-check-circle"></i></a>
        <%  } else{ %> 
            <a href="blog">Blog</a>
        <% }  %> 
        <% if(contact){ %>
            <a href="contact" class="navItemPagePointer">Contact <i class="fas fa-check-circle"></i></a>
        <%  } else{ %> 
            <a href="contact">Contact</a>
        <% }  %> 
        <% if(funzone){ %>
            <a href="funzone" class="navItemPagePointer">Fun zone <i class="fas fa-check-circle"></i></a>
        <%  } else{ %> 
            <a href="funzone">Fun zone</a>
        <% }  %> 
    </div>
</div>
<div class="topHeader">
    <div id="imgCarousel" style="background-color: none;">
        <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1472491235688-bdc81a63246e.jpg" alt="" srcset="">
        <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1511275539165-cc46b1ee89bf.jpg" alt="" srcset="">
        <img class="carouselImage fade" src= "https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1535696588143-945e1379f1b0.jpg" alt="" srcset="">
        <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1547045662-e5a75e7238c2.jpg" alt="" srcset="">
        <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1559624989-7b9303bd9792.jpg" alt="" srcset="">
        <img class="carouselImage fade" src="https://catcastimgs.s3.eu-north-1.amazonaws.com/staticimg/photo-1574158622682-e40e69881006.jpg" alt="" srcset="">
    </div>
    <div>
        <h1>Cats Opinion</h1>
        <h3>The only opinion cat owners need!</h1>
    </div>
</div>
