:root{
    --backgroundColor: #EED6D3;
    --highLigthColor: #E8B4B8;
    --helperColor: #A49393;
    --strongColor: #67595E;
}

.footerHR{
    display: none;
}

.credits{
    background-color: var(--helperColor);
    text-align: center;
    padding-bottom: 3rem;
}

.socialMediaSeperator{
    margin-top: 10px;
    margin-bottom: 10px;
}

.siteMapLink{
    padding: 5px;
}

.siteMapLink:hover{
    background-color: #5c5346;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .credits div{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .footerHR{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        border: 1px solid var(--strongColor);
        border-radius: 1px;
        opacity: 85%;
    }
}

@media only screen and (max-width: 400px) {
    .credits div{
        width:90%;
    }
    
    ul li a{
       word-break: break-all; 
    }
}

