:root{
    --backgroundColor: #EED6D3;
    --highLigthColor: #E8B4B8;
    --helperColor: #A49393;
    --strongColor: #67595E;
}

.mainheader{
    text-align: center;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/********************responsity media queries****************************/
@media only screen and (max-width: 1400px) {
    .topHeader div{
        margin-right: 10rem;
    }
}

@media only screen and (max-width: 1300px) {
    .topHeader div{
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 1050px) {
    #resultSectionQuestion{
        animation: none;
    }

    .firstContentRow{
        width: 90%;
        margin: auto;
    }
    .ad{
        margin: auto;
    }
}


