:root{
    --backgroundColor: #EED6D3;
    --highLigthColor: #E8B4B8;
    --helperColor: #A49393;
    --strongColor: #67595E;
}


.topHeader{
    position:relative;
    text-align: center;
    background-color: black;
    overflow: hidden;
}
.HeaderHeadline{
    font-family: 'Oswald', sans-serif;
    font-size: 8rem;
    color: var(--backgroundColor);
    position: absolute;
    text-shadow: 1px 1px 10px black, -1px 1px 10px black, 1px -1px 10px black, -1px -1px 10px  black;
    bottom: 250px;
    left: 200px;
}

.headerSubheadline{
    font-family: "Lato", "sans-serif";
    position: absolute;
    font-size: 4rem;
    color: var(--backgroundColor);
    position: absolute;
    text-shadow: 1px 1px 10px black, -1px 1px 10px black, 1px -1px 10px black, -1px -1px 10px  black;
    bottom: 150px;
    left: 300px;
}

.carouselImage{
    height:650px;
    width: 100%;
    display: none;
    object-fit: cover;
    
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
  }
  
  @-webkit-keyframes fade {
    0% {opacity: 0;transform:scale(1.1);}
    15% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes fade {
    0% {opacity: 0;transform:scale(1.1);}
    15% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
  }

/********************responsity media queries****************************/
@media only screen and (max-width: 1410px) {
    .HeaderHeadline{
        left: 110px;
    }
    .headerSubheadline{
        left: 150px;
    }
}

@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 1130px) {
    .carouselImage{
        height:470px;
        width: 100%;
        display: none;
        object-fit: cover;
        opacity: 0;
    }

    .HeaderHeadline{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top:50%;
        font-size: 3.5rem;
    }
    .headerSubheadline{
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        font-size: 2.15rem;
    }
   
}

@media only screen and (max-width: 650px) {
    .topHeader{
        position:inherit;
        text-align: center;
        background-color: var(--helperColor);
        padding-top: 5%;
        padding-bottom: 5%;
    }


    #imgCarousel{
        display: none;
    }

    .HeaderHeadline{
        position: inherit;
        left: 0;
        transform: translate(0, 0);
        top: 0;
        font-size: 2.5rem;
        text-shadow: none;
    }
    .headerSubheadline{
        position: inherit;
        left: 0;
        transform: translate(0, 0);
        top: 0;
        font-size: 1.5rem;
        text-shadow: none;
    }
}
