/*.ad currently display none, when url make add there*/

*{
    box-sizing: border-box;
}

body{
    background-color: #afd5aa;
    margin: 0;
}

h1, h2{
    font-family: "dancing Script";
}

h3, h4, p, label, a{
    font-family: "Lato", "sans-serif";
}

a, a:visited{
    color: black;
}

ul{
    padding-inline-start: 0;
    list-style: none; 
}

.content ul li span{
    margin-right: 1em;
}

a{
    cursor: pointer;
}

a:hover{
    color: #a69f98;
}

.imgIcon{
    width: 3%;
    height: auto;
}

.flexRow{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textWrapper{
    text-align: center;
}

.textWrapper h2{
    text-decoration: underline;
}

.ad{
    text-align: center;
    display: none;
}

.addSize{
    width: 200px; 
    height: auto;
}

.reportNTop{
    position: fixed; 
    bottom: 5%; 
    right: 2%;
    z-index: 99;
    display: flex;
    flex-direction: column;
}

#backToTopBtn{
    display: none; 
    border: none; 
    outline: none; 
    background-color: #5c5346; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 18px; 
    margin: 25px;
}

#reportBugBTN{
    display: none; 
    border: none; 
    outline: none; 
    background-color: #5c5346; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10%; 
    text-align: center;
    font-size: 10px; 
    margin: 0;
}

#backToTopBtn:hover, #reportBugBTN:hover {
    background-color: #a69f98;
}


/********************column widths****************************/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



@media only screen and (max-width: 1300px) {
    .imgIcon{
        width: 2rem;
    }
}

@media only screen and (max-width: 1050px) {
    .flexRow{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ad{
        text-align: center;
        width: 80%;
    }

    .addSize{
        width: auto; 
        height:50px;
    }
    .imgIcon{
        width: 1.5rem;
    }

}

@media only screen and (max-width: 680px) {
    .textWrapper{
        width: 80%;
    }
    .imgIcon{
        width: 1.5rem;
    }
    
}


