.explanationParagraph{
    margin-left: 10%; 
    margin-right: 10%;
}


.mainHeader{
    text-decoration: underline; 
    text-align: center;
}

blockquote{
    text-align: right;
    margin-right: 10%;
}
hr{
    width: 100%;
}

@media only screen and (max-width: 1400px) {
    #wrapper{
        width: 100%;
    }
}