<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href=<%= app+".css" %> />
    <title>App launcher</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body style="box-sizing: border-box; background-color: #EED6D3; text-align: center;">
    <h1>Cats Opinion</h1>
    <h2 style="margin-bottom: 0;"><%= app %></h2>
    <hr style="margin-bottom: 50px; margin-top: 50px; width: 80%; border: 2px solid #67595E; border-radius: 2px; opacity: 85%;">
    <%- include("../appz/"+app+".ejs") %> 
    <hr style="margin-bottom: 50px; margin-top: 50px; width: 80%; border: 2px solid #67595E; border-radius: 2px; opacity: 85%;">
    <script src=<%= app+".js" %>></script>
</body>
</html>