<!DOCTYPE html>
<html>
<head>
    <!--Todo recapcha and adsense-->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CatsOpinion - Your contact form is received! </title>
    <meta name="description" content="This verifyes that your contact form was succesfully received"> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--Style & fonts-->
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script data-ad-client="ca-pub-1550316830869386" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="topHeader" >
        <div>
            <h1>Cats Opinion</h1>
            <h3>The only opinion cat owners need!</h1>
        </div>
    </div>

    <!--content-->
    <div class="flexRow col-12">
        <h1>Thanks for your feed back!</h1>
        <h3><a href="/"> Back to front page</a></h3>
    </div>



    <!--footer-->
    <div class="credits flexRow">
        <div class="col-4">
            <div >
                <h4><i class="fa fa-sitemap"></i> Site map <i class="fa fa-sitemap"></i></h4>
                <p><a class="siteMapLink" href="/">Main</a></p>
                <p><a class="siteMapLink" href="blog">Blog</a></p>
                <p><a class="siteMapLink" href="contact">Contact</a></p>
                <p><a class="siteMapLink" href="funzone">Fun zone</a></p>
                <p><a class="siteMapLink" href="privacyPolicy">Privacy policy</a></p>
                <p><a class="siteMapLink" href="https://github.com/linre-90/catsopinion">Github</a></p>
            </div>
            <div class="social">
                <h4><i class="far fa-bell"></i> Share this page on social media! <i class="far fa-bell"></i></h4>
                <!--Twitter some btn --> 
                <a href="https://twitter.com/intent/tweet?button_hashtag=tweet&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="Hi! Check out this site!!!" data-url="https://catsopinion.com" data-show-count="false">Tweet #tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="socialMediaSeperator"></div>
                <!--Facebook some btn --> 
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v9.0" nonce="KPvERDBF"></script>
                <div class="fb-share-button" data-href="https://catsopinion.com" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcatsopinion.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Jaa</a></div>
                <br>
                <div class="socialMediaSeperator"></div>
                <!--Linked in some btn --> 
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="https://catsopinion.com/"></script>
            </div>
        </div>
        <div class="col-4">
            <p>All rights reserved Juho Lindemark</p>
            <div>(country flag)Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Other icons by FontAwesome: <a href="https://fontawesome.com/">https://fontawesome.com/</a></div>
            <div>
                <p>Images from unsplash: <a href="https://unsplash.com/images/stock">https://unsplash.com/images/stock</a></p>
                <p>Check following persons work: </p>
                <ul>
                    <li><a href="https://unsplash.com/@cedric_photography">https://unsplash.com/@cedric_photography</a></li>
                    <li><a href="https://unsplash.com/@madeyes">https://unsplash.com/@madeyes</a></li>
                    <li><a href="https://unsplash.com/@miklevasilyev">https://unsplash.com/@miklevasilyev</a></li>
                    <li><a href="https://unsplash.com/@serejaris">https://unsplash.com/@serejaris</a></li>
                    <li><a href="https://unsplash.com/@_javardh_001">https://unsplash.com/@_javardh_001</a></li>
                    <li><a href="https://unsplash.com/@zane404">https://unsplash.com/@zane404</a></li>
                </ul>    
            </div>
        </div>   
    </div>
    <div class=reportNTop>
        <button id="backToTopBtn"><i class="fa fa-arrow-up"></i></button>
        <a href="contact" id="reportBugBTN"><i class="fa fa-exclamation-triangle"></i><p >REPORT A BUG</p></a>
    </div>
    <!--SCripts-->
    <script src="scrollNbackTopBtn.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=flying&thirdparty=1&always=1&privacyPage=https%3A%2F%2Fwww.catsopinion.com%2FprivacyPolicy"></script>
</body>
</html>