<%- include("../partials/htmlBoiler.ejs", {metaData: meta, cssStyles:style}) %>    
<!--Custom header-->
    <div class="topHeader">
        <div>
            <h1>Cats Opinion</h1>
            <h3>The only opinion cat owners need!</h1>
        </div>
    </div>
    <!--content-->
    <% include("../partials/ad.ejs") %>
        <div class="flexRow col-12">
            <h1>Thanks for your feed back!</h1>
            <h3><a href="/"> Back to front page</a></h3>
        </div>
        <% include("../partials/ad.ejs") %>
        <% {scriptArray.forEach(element => { %>
            <script src=<%= element %>></script> 
        <% });}%> 
    </body>
</html>