<%- include("../partials/htmlBoiler.ejs", {metaData: meta, cssStyles:style}) %>    
<!--Custom header-->

<h1 style="text-align: center;">Cats Opinion has received your message!</h1>
    <!--content-->
        <div style="text-align: center;">
            <h1>Thanks for your feed back!</h1>
            <h3><a href="/"> Back to front page</a></h3>
        </div>
        <% {scriptArray.forEach(element => { %>
            <script src=<%= element %>></script> 
        <% });}%> 
    </body>
</html>