<%- include("../partials/htmlBoiler.ejs", {metaData: meta, cssStyles:style}) %>
<%- include("../partials/navBar.ejs", {home:homePage, contact:contactPAge, blog:blogPage, funzone:funzonePage}); %> 
<%- include("../partials/header.ejs", {headerText: meta.headerText}) %> 

<!--Content-->
<div class="flexRow content">
    <div id="wrapper" class="col-6">
        <hr>
        <p class="explanationParagraph"><i>updated: 20.02.2021</i></p>
        <h3>Cats opinion's virtual strategy</h3>
        <p class="explanationParagraph">
            Our policy is to offer user safe experience and respect their privacy. This is why we don't collect any
            unnecessary data.
            We will be very open and informative about anything we migth collect.<br>
        <blockquote> -Website should be for user, user should not be data source!</blockquote>
        </p>
        <h3>What user data we store?</h3>
        <p class="explanationParagraph">
            CatsOpinion <u>does not</u> collect or store any sensitive/personal user data! Cookie acceptance is mainly for
            3rd party cookies.
            This is stored in web browser, and it can be deleted at any time. CatsOpinion cookies do not save any user
            data.
        </p>
        <h3>Users email addresses</h3>
        <p class="explanationParagraph">
            CatsOpinion <u>does not</u> store or distribute those email addresses to anyone. When user wants to be
            contacted and leaves email at contact page, email address is
            stored only as long is necessery to communicate. After that email address will be removed from our systems
            permanently and never seen again.
        </p>
        <h3>What 3rd party cookies we have?</h3>
        <p class="explanationParagraph">
            Facebooks cookie policy: <a href="https://www.facebook.com/policies/cookies"> can be found here</a><br>
            Twitters cookie policy: <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies"> can be
                found here</a><br>
            LinkedIn cookie policy: <a href="https://www.linkedin.com/legal/cookie-policy"> can be found here</a><br>
            Googles cookie policy: <a href="https://policies.google.com/technologies/cookies?hl=en-US"> can be found
                here</a><br><br>
            These are related to technologies used on website (social media links, recaptcha). These
            servises are provided from "outside" and user must accept these to continue browsing.
        </p>
        <h3>But but but there is cats opinion cookies!</h3>
        <p class="explanationParagraph">
            Yes there is but they are about website functionality, security and to prevent hostile web actions. These
            <i>do not</i> track users personal data.
        </p>
        <h3>What is best type of cookie in world?</h3>
        <p class="explanationParagraph">
            Chocolate chip cookie!
        </p>
        
        <hr>
    </div>
</div>
<%- include("../partials/footer.ejs", {scripts: scriptArray}); %>